/**
 * @file src/components/carrerHub/info-card/styles.module.css
 */

.info-card {
  border-color: var(--color-blue-600-translucent);
  width: calc((100% / 3) - var(--space-2));
  background-color: var(--color-slate-200);
  transition-timing-function: ease-out;
  border-radius: var(--radius-sm);
  transition-duration: 0.2s;
  transition-property: all;
  padding: var(--space-3);
  gap: var(--space-3);
  align-items: center;
  border-style: solid;
  border-width: 1px;
  display: flex;
}

.info-card__icon-container {
  background-color: var(--color-blue-500);
  transition: background-color 0.2s;
  border-radius: var(--rounded);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 40px;
}

.info-card__icon {
  stroke: var(--color-white);
  height: 24px;
  width: 24px;
}

.info-card__text {
  flex: 1;
  color: var(--color-slate-700);
}

/* media queries */

@media (hover: hover) {
  .info-card:hover {
    background-color: var(--color-slate-300);
  }
  .info-card:hover .info-card__icon-container {
    background-color: var(--color-blue-600);
  }
}

@media (max-width: 1099px) {
  .info-card {
    width: calc(50% - (var(--space-3) / 2));
  }
}

@media (max-width: 600px) {
  .info-card {
    width: 100%;
  }
}
